<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="common/layout">
<head>
<meta charset="UTF-8">
<title>员工管理系统|修改</title>
</head>
<body>

<div layout:fragment="content" class="edit">
	<h4>用户信息</h4>
	<form th:action="@{/employee/edit}" method="post" th:object="${employee}">
		<div>
			<label for="id">编号：</label>
			<input type="text" name="id" disabled="disabled" th:value="*{id}"/>
			<input type="hidden" name="id" th:value="*{id}"/>
		</div>
		<div>
			<label for="name">姓名：</label>
			<input type="text" name="name" th:value="*{name}" />
			<span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">用户名错误</span>
		</div>
		<div>
			<label for="birthday">生日：</label>
			<input type="date" name="birthday" th:value="*{{birthday}}">
			<span class="error" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">生日错误</span>
		</div>
		<div>
			<label for="did">部门：</label>
			<select name="department.id">
				<option th:each="department : ${departments}" th:selected="${employee.department.id==department.id}" th:value="${department.id}" value="1" th:text="${department.name}">研发部</option>
			</select>
			<span class="error" th:if="${#fields.hasErrors('department.id')}" th:errors="*{department.id}">部门错误</span>
		</div>
		<div>
			<label for="address">地址：</label>
			<input type="text" name="address" th:value="*{address}"/>
		</div>
		<div>
			<button type="submit">修改</button>
			<button type="reset">重置</button>
		</div>
	</form>
</div>

</body>
</html>
