<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>员工管理系统|登录</title>
<link rel="stylesheet" href="${pageContext.request.contextPath}/css/main.css">
</head>
<body>

<!-- 导入导航页 -->
<%@ include file="common/nav.jspf" %>

<form action="${basePath}/LoginServlet?method=signin" method="post">
<div>
	<label for="ename">用户名：</label>
	<input type="text" name="ename" placeholder="请输入用户名">
</div>
<div>
	<label for="epassword">密码：</label>
	<input type="password" name="epassword" placeholder="请输入密码">
</div>
<div>
	<button type="submit">登录</button>
</div>
<div>
</div>
</form>
<!-- 导入页脚  -->
<%@ include file="common/footer.jspf" %>
</body>
</html>